<div class="service-container">
    <p class="page-title">My Services</p>

    <div class="service-data">
        <div class="service-list">
            <div class="service-add">
                <p style="align-self: center">Batch inquiry</p>
                <mat-icon (click)="addBatch()" class="create-service">add</mat-icon>
            </div>

            <div class="line"></div>
            <div class="service-loop">
                <ul *ngFor="let emp of dataResponse">
                    <div class="batch-component">
                        <a href="{{emp.link}}" target="_blank"><li>{{emp.name}}</li></a>  <!-- href ke routing id-->
                        <mat-icon (click)="activePopUp()" data-toggle="modal" data-target="#exampleModalCenter" aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                        <mat-icon (click)="edit()" aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
                    </div>
                </ul>
            </div>
        </div>
        <div class="service-hit">
<!--            COMPONENT TO HIT SERVICES-->
                <app-batch-hit [dataResponseCard]="dataResponse"></app-batch-hit>
        </div>
    </div>


    <!-- Modal -->
    <div *ngIf="showPopup" class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    Sure want to delete?
                </div>
                <div class="modal-footer">
                    <button (click)="cancelDel()" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button (click)="delete()" type="button" class="btn btn-primary">Delete</button>
                </div>
            </div>
        </div>
    </div>

</div>
