.service-container{
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
}

.batch-head{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.page-title{
  font-size: 30px;
  font-style: italic;
  color: #005CAA;
}
.batch-ext-title{
  margin-bottom: 0;
}

.cat-exist{
  min-width: 200px;
  font-size: 18px;
  background-color: #005CAA;
  color: white;
  padding: 5px 20px;
  border-radius: 5px;
  margin-right: 10px;
}

.cat-exist:hover{
  text-shadow:
          0 0 7px #fff,
          0 0 10px #fff,
          0 0 21px #4d67ce,
          0 0 42px #4d67ce,
          0 0 82px #005CAA,
          0 0 92px #005CAA,
          0 0 102px #005CAA,
          0 0 151px #005CAA;
}

.mat-expansion-panel-header{
  padding: 0 !important;
}

.list-batch{
  display: flex;
  justify-content: space-between;
}

.list-batch:hover{
  color: #005CAA;
}

.tools{
  cursor: pointer;
}
.tools:hover{
  color: red;
}

.btch-feature{
  cursor: pointer;
}

.delete-icon:hover{
  color: red;
}

.add-feature{
  margin-top: 40px;
  margin-right: 10px;
}

.service-data{
  display: flex;
}

.batch-component{
  display: flex;
  justify-content: space-between;
  mat-icon{
    align-self: center;
  }
}

.batch-component{
  mat-icon:hover{
    color: red;
    cursor: pointer;
  }
  li{
    word-break: break-word;
  }
}

.service-list{
  font-size: 20px;

  .service-add{
    display: flex;
  }

  .create-service{
    margin-bottom: 10px;
  }

  p{
    margin-bottom: 0;
  }

  .line{
    border-bottom: 1px solid #212529;
    width: 210px;
    margin-bottom: 10px;
  }
}

.service-hit{
  font-size: 25px;
  width: 100%;
}

.confirm-hit{
  font-size: 25px;
}

.service-loop{
  width: 85%;
  ul{
    list-style-type: none;
    padding: 0;
    a{
      color: #212529;
    }
    a:hover{
      color: #0064b6;
      cursor: pointer;
    }
  }
}
