<div class="service-container">
    <div class="batch-head">
        <div>
            <p class="page-title">Transfer Batch</p>
        </div>

        <div>
            <button (click)="addBatch()" class="btn btn-primary add-feature"
                    data-toggle="modal" data-target="#createBatch">Create Batch</button>

            <button (click)="popUpFeature()" class="btn btn-primary add-feature"
                    data-toggle="modal" data-target="#createFeature">Create Feature</button>
        </div>
    </div>

    <div class="service-data">
        <div class="service-list">
            <div class="service-loop">
<!--                <ul *ngFor="let batch of dataResponse">-->
<!--                    <div class="batch-component">-->
<!--                        <a (click)="toDetail(batch.batch_id)" target="_blank"><li>{{batch.batch_name}}</li></a>  &lt;!&ndash; href ke routing id&ndash;&gt;-->
<!--                        <div class="tools">-->
<!--                            <mat-icon (click)="activePopUp(batch.batch_id, batch.batch_name)" data-toggle="modal" data-target="#exampleModalCenter"-->
<!--                                      aria-hidden="false" aria-label="Example home icon">delete</mat-icon>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </ul>-->

                <p class="page-title">Feature</p>
                <mat-expansion-panel *ngFor="let cat of categoryList" hideToggle (destroyed)="panelOpen">
                    <mat-expansion-panel-header>
                        <mat-panel-title (click)="expandBatch(cat.category_id)">
                            {{cat.category_name}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div *ngFor="let data of dataResponse" class="list-batch">
                        <p (click)="toDetail(data.batch_id)" target="_blank" class="btch-feature">{{data.environment}} - {{data.batch_name}}</p>

                        <mat-icon (click)="activePopUp(data.batch_id, data.batch_name)" data-toggle="modal" data-target="#exampleModalCenter"
                                  class="tools" aria-hidden="false" aria-label="Example home icon">delete</mat-icon>

                    </div>
                </mat-expansion-panel>

<!--                <mat-expansion-panel *ngFor="let cat of dataGroupResponse.batches_per_categories; index as i" hideToggle>-->
<!--                    <mat-expansion-panel-header>-->
<!--                        <mat-panel-title style="background-color: bisque;">-->
<!--                            {{i}} {{cat.category_name}}-->
<!--                        </mat-panel-title>-->
<!--                    </mat-expansion-panel-header>-->
<!--                    <p *ngFor="let data of dataGroupResponse.batches_per_categories[i].batch"-->
<!--                       (click)="toDetail(data.batch_id)" target="_blank">{{data.environment}} - {{data.batch_name}}</p>-->
<!--                </mat-expansion-panel>-->

            </div>
<!--            <mat-icon style="position: fixed; transform: scale(2); align-self: flex-end" (click)="goUp()">eject</mat-icon>-->
        </div>
        <div class="service-hit">
<!--            COMPONENT CARD TO HIT SERVICES-->
                <app-batch-hit [dataResponseCard]="dataResponse"
                               [categoryList]="categoryList"></app-batch-hit>
        </div>
    </div>

    <!-- Popup CreateFeature -->
    <div *ngIf="showPopupFeature" class="modal fade" id="createFeature" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body confirm-hit">
                    <div class="form-group">
                        <p class="batch-ext-title">Existing Feature</p>
                            <label *ngFor="let catList of categoryList" class="cat-exist">
                                {{catList.category_name}}
                            </label> <br>
                        <label for="featureName">New feature</label>
                        <input type="text" [(ngModel)]="newFeature"
                                class="form-control" id="featureName">

                        <label for="featureName">Dev main url</label>
                        <input type="text" [(ngModel)]="newUrlDev"
                               class="form-control" id="newDevUrl">

                        <label for="featureName">Uat main url</label>
                        <input type="text" [(ngModel)]="newUrlUat"
                               class="form-control" id="newUatUrl">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button (click)="createFeature(newFeature, newUrlDev, newUrlUat)" class="btn btn-primary">Create Feature</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Popup delete -->
    <div *ngIf="showPopupDelete" class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body confirm-hit">
                    Sure want to <b style="color: red">Delete </b> <b>{{selected_Batch}}</b> ?
                </div>
                <div class="modal-footer">
                    <button (click)="cancelDel()" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button (click)="deleteService(selected_Id)" type="button" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Popup Create -->
    <div *ngIf="showPopupCreate" class="modal fade" id="createBatch" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <app-batch-input></app-batch-input>
                </div>
            </div>
        </div>
    </div>

</div>

