<div class="service-container">
    <div class="batch-head">
        <div>
            <p class="page-title">Batch Services</p>
        </div>

        <div>
            <button (click)="addBatch()" class="btn btn-warning add-feature"
                    data-toggle="modal" data-target="#createBatch">Create Batch</button>

            <button (click)="popUpFeature()" class="btn btn-warning add-feature"
                    data-toggle="modal" data-target="#createFeature">Create Feature</button>
        </div>
    </div>

    <div class="service-data">
        <div class="service-list">
<!--            <div class="service-add">-->
<!--                <button (click)="addBatch()" class="btn btn-primary create-service"-->
<!--                        data-toggle="modal" data-target="#createBatch">Create Batch</button>-->
<!--            </div>-->

<!--            <div>-->
<!--                <button (click)="popUpFeature()" class="btn btn-primary" style="margin-bottom: 10px"-->
<!--                        data-toggle="modal" data-target="#createFeature">Create Feature</button>-->
<!--            </div>-->

<!--            <div class="line"></div>-->

            <div class="service-loop">
                <ul *ngFor="let batch of dataResponse">
                    <div class="batch-component">
                        <a (click)="toDetail(batch.batch_id)" target="_blank"><li>{{batch.batch_name}}</li></a>  <!-- href ke routing id-->
                        <div class="tools">
                            <mat-icon (click)="activePopUp(batch.batch_id, batch.batch_name)" data-toggle="modal" data-target="#exampleModalCenter"
                                      aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                        </div>
                    </div>
                </ul>

<!--                <div id="accordion">-->
<!--                    <div class="card">-->
<!--                        <div class="card-header" id="headingOne">-->
<!--                            <h5 class="mb-0">-->
<!--                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">-->
<!--                                    Trf DOM-->
<!--                                </button>-->
<!--                            </h5>-->
<!--                        </div>-->

<!--                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">-->
<!--                            <div class="card-body">-->
<!--                                <ul>-->
<!--                                    <div class="batch-component">-->
<!--                                        <a><li>Batch Inquiry data base sys admin</li></a>  &lt;!&ndash; href ke routing id&ndash;&gt;-->
<!--                                        <div class="tools">-->
<!--                                            <mat-icon data-toggle="modal" data-target="#exampleModalCenter"-->
<!--                                                      aria-hidden="false" aria-label="Example home icon">delete</mat-icon>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </ul>-->
<!--                                <ul>-->
<!--                                    <div class="batch-component">-->
<!--                                        <a><li>Batch Postdated</li></a>  &lt;!&ndash; href ke routing id&ndash;&gt;-->
<!--                                        <div class="tools">-->
<!--                                            <mat-icon data-toggle="modal" data-target="#exampleModalCenter"-->
<!--                                                      aria-hidden="false" aria-label="Example home icon">delete</mat-icon>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                </div>-->

            </div>
            <mat-icon style="position: fixed; transform: scale(2); align-self: flex-end" (click)="goUp()">eject</mat-icon>
        </div>
        <div class="service-hit">
<!--            COMPONENT CARD TO HIT SERVICES-->
                <app-batch-hit [dataResponseCard]="dataResponse"
                               [categoryList]="categoryList"></app-batch-hit>
        </div>
    </div>

    <!-- Popup CreateFeature -->
    <div *ngIf="showPopupFeature" class="modal fade" id="createFeature" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body confirm-hit">
                    <div class="form-group">
                        <p class="batch-ext-title">Existing Feature</p>
                            <label *ngFor="let catList of categoryList" class="cat-exist">
                                {{catList.categoryName}}
<!--                                <mat-icon (click)="deleteFeature(catList.categoryId)">delete</mat-icon>-->
                            </label> <br>
                        <label for="featureName">Create new feature</label>
                        <input type="text" [(ngModel)]="newFeature"
                                class="form-control" id="featureName"
                                placeholder="New feature name">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button (click)="createFeature(newFeature)" class="btn btn-primary">Create Feature</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Popup delete -->
    <div *ngIf="showPopupDelete" class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body confirm-hit">
                    Sure want to <b style="color: red">Delete </b> <b>{{selected_Batch}}</b> ?
                </div>
                <div class="modal-footer">
                    <button (click)="cancelDel()" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button (click)="deleteService(selected_Id)" type="button" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Popup Create -->
    <div *ngIf="showPopupCreate" class="modal fade" id="createBatch" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <app-batch-input></app-batch-input>
                </div>
            </div>
        </div>
    </div>

</div>

