.service-container{
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  //background-color: lightyellow;
  //border-radius: 5px;
}

.batch-head{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.page-title{
  font-size: 35px;
  border-bottom: 2px solid #212529;
}
.batch-ext-title{
  margin-bottom: 0;
}

.cat-exist{
  font-size: 20px;
  background-color: cornflowerblue;
  padding: 5px 20px;
  border-radius: 5px;
  margin-right: 5px;

  mat-icon{
    color: white;
  }
  mat-icon:hover{
    color: green;
    cursor: pointer;
  }
}

.add-feature{
  margin-top: 40px;
  margin-right: 10px;
}

.service-data{
  display: flex;
}

.batch-component{
  display: flex;
  justify-content: space-between;
  mat-icon{
    align-self: center;
  }
}

.batch-component{
  mat-icon:hover{
    color: red;
    cursor: pointer;
  }
  li{
    word-break: break-word;
  }
}

.service-list{
  font-size: 20px;
  min-width: 330px; // 300 soalnya di laptop rumah baru rapih

  .service-add{
    display: flex;
  }

  .create-service{
    //margin-left: 85px;
    //color: #0064b6;
    margin-bottom: 10px;
  }

  p{
    margin-bottom: 0;
  }

  .line{
    border-bottom: 1px solid #212529;
    width: 210px;
    margin-bottom: 10px;
  }
}

.service-hit{
  font-size: 25px;
  width: 100%;
}

.confirm-hit{
  font-size: 25px;
}

.service-loop{
  width: 85%;
  ul{
    list-style-type: none;
    padding: 0;
    a{
      color: #212529;
    }
    a:hover{
      color: #0064b6;
      cursor: pointer;
    }
  }
}

//@media screen and (max-width: 1020px) {
//}
