<div class="batch-hit-container">
    <div class="card">
<!--        FILTER FIELD -->
        <form [formGroup]="categoryIdForm">
            <div style="display: flex; justify-content: space-between">
                <div class="batch-search">
                    <input type="text"
                           class="input-search"
                           [(ngModel)]="searchedBatch"
                           formControlName="searchBatchFilterd"
                           (keyup)="filterIt($event)">

                    <button class="btn-search" (click)="findBatch()">
                        <mat-icon class="search-logo">search</mat-icon>
                    </button>
                </div>

                <div class="batch-filter">
                    <div style="display: flex">
                        <label for="batchFiturFilter"></label>
                        <select class="form-control category-filter" id="batchFiturFilter" formControlName="categoryIdFiltered">
                            <option *ngFor="let cat of categoryList" value='{{cat.category_id}}'>
                                {{cat.category_name}}
                        </select>

                        <button (click)="filterbyCategory()" class="btn-filter">
                            <mat-icon>filter_list</mat-icon>
                        </button>
                        <button (click)="getAllDataBack()" class="btn-filter">
                            <mat-icon>autorenew</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </form>

        <div class="batch-list">

<!--            <div *ngFor="let batch of dataFromService" class="batch-item"> &lt;!&ndash; LOOP DATA HERE &ndash;&gt;-->
<!--                <img (click)="toDetail(batch.batchId)" src="{{batch.imgUrl}}" class="card-img-top" alt="...">-->
<!--                <div class="card-body">-->
<!--                    <h5 class="card-title">{{batch.environment}}</h5>-->
<!--                    <h5>{{convertBatchCategory(batch.categoryId)}}</h5>-->
<!--                    <p class="card-text">{{batch.batchName}}</p>-->
<!--                    <button (click)="selectBatchHit(batch.batchName, batch.batchId)" class="btn btn-primary"-->
<!--                            data-toggle="modal" data-target="#popUpbatch">HIT!</button>-->
<!--                </div>-->
<!--            </div>-->

<!--            ==================================================================================================== -->

            <div *ngIf="popUpResponse" class="fixed">
                <div style="display: flex; justify-content: space-between">
                    <div>
                        <div style="display: flex">
                            <div>{{lastHit}} {{executeResponse}}</div>
                            <div *ngIf="loadingHit" class="loader"></div>
                        </div>
                        <div style="color: red">{{errorExecute}}</div>
                    </div>
                    <div>
                        <button (click)="closeResponse()" class="btn btn-danger create-service"
                                data-toggle="modal" data-target="#createBatch">X</button>
                    </div>
                </div>
            </div>

            <mat-tab-group>
                <mat-tab label="Batch list">
                    <table class="table table-sm">
                        <thead>
                        <tr>
                            <th scope="col" style="width: 10%">Environment</th>
                            <th scope="col" style="width: 25%">Feature</th>
                            <th scope="col" style="width: 30%">Name</th>
                            <th scope="col" style="width: 10%">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <div *ngIf="isNoData">
                            Empty batch!
                        </div>
                        <tr *ngFor="let batch of dataFromService" class="selectedBatch">
                            <td>{{batch.environment}}</td>
                            <td>{{convertBatchCategory(batch.category_id)}}</td>
                            <td (click)="toDetail(batch.batch_id)" style="cursor: pointer">{{batch.batch_name}}</td>
                            <td>
                                <button (click)="selectBatchHit(batch.batch_name, batch.batch_id, batch.category_id)" class="btn btn-primary"
                                        data-toggle="modal" data-target="#popUpbatch">HIT!</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </mat-tab>

                <mat-tab label="Manage feature">
                    <table class="table table-sm">
                        <thead>
                        <tr>
                            <th scope="col" style="width: 15%">Feature Name</th>
                            <th scope="col" style="width: 15%">DEV url</th>
                            <th scope="col" style="width: 15%">UAT url</th>
                            <th scope="col" style="width: 15%">Edit</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let cat of categoryList" class="selectedBatch">
                            <td>{{cat.category_name}}</td>
                            <td>{{cat.main_url_dev}}</td>
                            <td>{{cat.main_url_uat}}</td>
                            <td><button (click)="showPopupEdit(cat.category_id,cat.category_name)" data-toggle="modal" data-target="#popUpEdit" class="btn btn-primary">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </mat-tab>
            </mat-tab-group>
        </div>

    </div>

    <!-- Pop up hit batch -->
    <div *ngIf="popUpHit" class="modal fade" id="popUpbatch" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    Sure want to Hit {{selectedfeature}} - <b style="color: #0064b6"> {{selectedBatch}}</b> ?
                </div>
                <div class="modal-footer">
                    <button (click)="cancelHit()" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button (click)="getResponse(selectedId, selectedBatch)" type="button" class="btn btn-primary" data-dismiss="modal">Hit!</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Pop up edit batch -->
    <div *ngIf="popUpEdit" class="modal fade" id="popUpEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <form [formGroup]="categoryUpdateForm">
                        <div class="form-group">
                            <label for="CategoryName">before: {{selectedFitName}}</label>
                            <input type="text" class="form-control" id="CategoryName"
                                   formControlName="categoryNameUpdated" placeholder="New feature name">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button (click)="cancelHit()" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button (click)="updateCategoryName()" type="button" class="btn btn-primary" data-dismiss="modal">Update</button>
                </div>
            </div>
        </div>
    </div>

</div>
