<div class="batch-hit-container">
    <div class="batch-response">
        <div class="response-search">
            <div>
                <p>Response {{result}}</p>
            </div>

            <div class="batch-search">
<!--                (ngModelChange)="findData($event)"-->
                <input type="text"
                       [(ngModel)]="searchedBatch"
                        placeholder="Search Service">

                <button (click)="findData(searchedBatch)">
                    <mat-icon class="search-logo">search</mat-icon>
                </button>
            </div>
        </div>

<!--        RESPONSE FIELD-->
        <div class="response-detail">
            <div *ngIf="loadingHit" class="loader"></div>

            {{lastHit}} {{response}} <br>
            <div class="items" *ngFor="let emp of APIdata">
                {{emp.message}} {{emp.status}}
            </div>
        </div>
    </div>

    <div class="card">
<!--        FILTER-->
        <div class="batch-filter">
            <div style="display: flex">
<!--                <mat-form-field appearance="fill">-->
<!--                    <mat-label>Select an option</mat-label>-->
<!--                    <mat-select [(value)]="selectedCat">-->
<!--                        <mat-option value="DEV">DEV</mat-option>-->
<!--                        <mat-option value="UAT">UAT</mat-option>-->
<!--                    </mat-select>-->
<!--                </mat-form-field>-->

                <button>
                    <mat-icon>filter_list</mat-icon>
                </button>
            </div>
        </div>
            <button (click)="hit()">HIT service</button>
        <div class="batch-list">

            <div *ngFor="let batch of dataResponseCard" class="batch-item"> <!-- LOOP DATA HERE -->
                <img (click)="toDetail()" src="{{batch.img}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><b>{{batch.req_method}} - {{batch.env}}</b></h5>
                    <p class="card-text">{{batch.name}}</p>
                    <button (click)="getResponse(batch.name)" class="btn btn-primary">HIT!</button>
                </div>
            </div>
        </div>

    </div>
</div>
