<div class="batch-hit-container">
    <div class="batch-response">
        <div class="response-search">
            <div>
                <p>Response</p>
            </div>

<!--            SEARCH FIELD-->
            <div class="batch-search">
<!--                (ngModelChange)="findData($event)"-->
                <input type="text"
                       class="input-search"
                       [(ngModel)]="searchedBatch"
                       placeholder="Search Service"
                       (keyup)="filterIt($event)">

                <button class="btn-search">
                    <mat-icon class="search-logo">search</mat-icon>
                </button>
            </div>
        </div>

<!--        RESPONSE FIELD-->
        <div class="response-detail">
            <div *ngIf="loadingHit" class="loader"></div>
            {{lastHit}} {{guide}} {{executeResponse}}
            <br>
            <div style="color: red">{{errorExecute}}</div>
        </div>
    </div>

    <div class="card">
<!--        FILTER FIELD-->
        <div class="batch-filter">
            <div style="display: flex">
                <label for="batchFiturFilter"></label>
                <select  class="form-control category-filter" id="batchFiturFilter">
                    <option *ngFor="let cat of categoryList">
                        {{cat.categoryName}}</option>
                </select>

                <button (click)="filterbyCategory()" class="btn-filter">
                    <mat-icon>filter_list</mat-icon>
                </button>
            </div>
        </div>

        <div class="batch-list">

            <div *ngFor="let batch of dataResponseCard" class="batch-item"> <!-- LOOP DATA HERE -->
                <img (click)="toDetail(batch.batchId)" src="{{batch.imgUrl}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{batch.environment}}</h5>
                    <p class="card-text">{{batch.batchName}}</p>
                    <button (click)="selectBatchHit(batch.batchName, batch.batchId)" class="btn btn-primary"
                            data-toggle="modal" data-target="#popUpbatch">HIT!</button>
                </div>
            </div>
        </div>

    </div>

    <!-- Pop up hit batch -->
    <div *ngIf="popUpHit" class="modal fade" id="popUpbatch" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    Sure want to Hit <b style="color: #0064b6">{{selectedBatch}}</b> ?
                </div>
                <div class="modal-footer">
                    <button (click)="cancelHit()" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button (click)="getResponse(selectedId, selectedBatch)" type="button" class="btn btn-primary" data-dismiss="modal">Hit!</button>
                </div>
            </div>
        </div>
    </div>

    <div style="display: flex; justify-content: space-between">
        <div></div>
        <div>
        </div>
    </div>
</div>
