<form>
    <div class="form-group">
        <label for="BatchLogo">Batch logo (Optional)</label>
        <input type="file" class="form-control-file" id="BatchLogo">
    </div>

    <div class="form-group">
        <label for="BatchName">Batch Name</label>
        <input type="text" class="form-control" id="BatchName">
    </div>

    <div class="form-group">
        <label for="BatchEnv">Environtment</label>
        <select class="form-control" id="BatchEnv">
            <option value="DEV">DEV</option>
            <option value="UAT">UAT</option>
        </select>
    </div>

    <div class="form-group batch-split">
        <div class="batch-req">
            <label for="ReqMethod">Req Method</label>
            <select class="form-control" id="ReqMethod">
                <option value="GET">GET</option>
            </select>
        </div>

        <div class="batch-fitur">
            <label for="batchFitur">Feature Name</label>
            <select  class="form-control" id="batchFitur">
                <option *ngFor="let cat of dataCat">
                    {{cat.categoryName}}</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="mainUrl">Main Url</label>
        <input type="text" class="form-control" id="mainUrl">
    </div>

    <div class="form-group">
        <label for="endPoint">End Point</label>
        <input type="text" class="form-control" id="endPoint" placeholder="/va-inquiry">
    </div>

    <div class="form-group">
        <label for="BatchDesc">Description (Optional)</label>
        <textarea class="form-control" id="BatchDesc" rows="3"></textarea>
    </div>
</form>
