<nav class="navbar navbar-expand-lg navbar navbar-light" style="background-color: #005CAA;">
    <div class="service-feature">
        <a class="logo-title -batch" href="/myBatch">MyBatch!</a>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="fit-title" id="batch-feature" href="/myBatch">Home</a>
            </li>

            <li class="nav-item ">
                <a class="fit-title" id="history-feature" href="/history">History</a>
            </li>

            <li class="nav-item ">
                <a class="fit-title" id="web-feature"
                   href="http://kp2autoapp01:8080/HistoryStatistic/JobRegistered.aspx" target="_blank">Control-M</a>
            </li>
        </ul>
        <app-date-time></app-date-time>
<!--        <form class="form-inline my-2 my-lg-0">-->
<!--            <button (click)="logout()" class="btn btn-danger my-2 my-sm-0"-->
<!--                    id="logout-btn" type="submit">Logout</button>-->
<!--        </form>-->
    </div>
</nav>
