<app-navbar></app-navbar>
<div class="batch-header">
    <div class="history-title">
        Batch hit history
    </div>
    <table class="table table-striped">
        <thead>
        <tr class="history-header">
            <th scope="col">Batch name</th>
            <th scope="col">Result</th>
            <th scope="col">Hit date</th>
        </tr>
        </thead>
        <tbody>
        <div *ngIf="isNoHistoryData">
            Empty!
        </div>
        <tr *ngFor="let hist of historyData" class="batch-history">
            <td>{{hist.batch_name}}</td>
            <td>{{hist.result}}</td>
            <td>{{hist.hit_date}}</td>
        </tr>
        </tbody>
    </table>
</div>
