<app-navbar></app-navbar>
<div class="batch-header">
    <div class="history-title" style="display: flex; justify-content: space-between">
        <div class="history-subtitle">
            Batch hit history
        </div>
    </div>

    <table class="table table-striped tbl-history">
        <thead>
        <tr class="history-header">
            <th scope="col">Feature</th>
            <th scope="col">Env.</th>
            <th scope="col">Batch name</th>
            <th scope="col">Result</th>
            <th scope="col">Hit date</th>
        </tr>
        </thead>

        <tbody>
            <div *ngIf="isNoHistoryData" class="batch-history">
                Empty!
            </div>

            <tr *ngFor="let hist of historyData" class="batch-history">
                <td>{{hist.category_name}}</td>
                <td>{{hist.environment}}</td>
                <td>{{hist.batch_name}}</td>
                <td>{{hist.result}}</td>
                <td>{{hist.hit_date}}</td>
            </tr>
        </tbody>
    </table>
</div>
