<app-navbar></app-navbar>
<div class="restore-box">
    <div class="history-title">
        <div class="history-subtitle">
            <mat-icon (click)="toHome()">keyboard_backspace</mat-icon>
            Restore Batch
        </div>
    </div>
    Total : {{deletedBatch.length}}
    <table class="table table-striped tbl-history">
        <thead>
        <tr class="history-header">
            <th scope="col">Env.</th>
            <th scope="col">Feature</th>
            <th scope="col">Batch name</th>
            <th scope="col">Action</th>
            <th scope="col"></th>
        </tr>
        </thead>

        <tbody>
        <div *ngIf="isNoDeletedBatch" class="batch-history">
            Empty!
        </div>

        <tr *ngFor="let data of deletedBatch" class="batch-history">
            <td>{{data.environment}}</td>
            <td>{{data.category_id}}</td>
            <td>{{data.batch_name}}</td>
            <td><button class="btn btn-success" (click)="executeRestore(data.deleted_batch_id)"
                        data-toggle="modal" data-target="#popUpbatch">Restore</button></td>
            <td><button class="btn btn-danger" (click)="executePermanentDelete(data.deleted_batch_id)"
                        data-toggle="modal" data-target="#popUpbatch">Delete Permanent</button></td>
        </tr>
        </tbody>
    </table>
</div>
