<div class="batch-header">
    <div class="batch-title">
        <div class="feature-container">
            <div class="service-feature">
                <button class="btn btn-light">
                    <h4 class="fit-title -batch">MyBatch!</h4>
                </button>
            </div>
            <div class="notes-feature">
                <button class="btn btn-light">
                    <h4 class="fit-title ">Notes</h4>
                </button>
            </div>
        </div>
        <div class="logout-feature">
            <button class="btn btn-light" (click)="logout()">
                <h4 class="fit-title logout-btn">Logout</h4>
            </button>
        </div>
    </div>

    <div *ngIf="loadingDate" class="loader"></div>

    <div class="batch-subtitle">
        <div class="display-name">
            Transfer Batch!
        </div>

        <div class="display-time">
            {{date |date: 'd MMM YYYY HH:mm:ss a'}}
        </div>
    </div>
<!--    CONTENT-->
    <div class="batch-card">
        <img class="card-img-det" src="https://karir.bca.co.id/public/assets/img/logo-color.svg" alt="...">

        <div class="batch-wiki">
            <h5 class="text-title"><b>{{detailData.environment}}</b> <br>
                <b>{{detailData.batchName}}</b>
            </h5>
            <p class="batch-text">{{detailData.mainUrl}}{{detailData.endpoint}}</p>
            <p class="batch-desc">{{detailData.description}}</p>
            <button (click)="backToList()" class="btn btn-primary backTo">Back</button>
            <button (click)="editBatch()" class="btn btn-primary backTo btnEdit">Edit</button>
        </div>
    </div>

</div>

<div class="footer">
    <div class="footer-line"></div>
    @Copyright MyBatch 2022 - Jasper & Kelvin
</div>

