<app-navbar></app-navbar>
<div class="batch-header">
<!--    CONTENT-->
    <div *ngIf="loadingLoad" class="loader"></div>
    <div class="batch-card" *ngIf="!loadingLoad">
        <img class="card-img-det" src="https://karir.bca.co.id/public/assets/img/logo-color.svg" alt="...">

        <div class="batch-wiki">
            <h5 class="text-title"><b>{{detailData?.batch_name}}</b> <br>
                <b>{{detailData?.environment}}</b>
            </h5>
            <p class="batch-text">{{detailData?.main_url}}{{detailData?.endpoint}}</p>
            <p class="batch-desc">{{detailData?.description}}</p>
            <div class="action-button" style="background-color: red; color: red">
                <button (click)="editBatch()" data-toggle="modal" data-target="#editBatch" class="btn btn-primary backTo btnEdit">Edit</button>
                <button (click)="backToList()" class="btn btn-primary backTo">Back</button>
            </div>
        </div>
    </div>

</div>

<!-- Popup CreateFeature -->
<div *ngIf="showPopupEdit" class="modal fade" id="editBatch" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body confirm-hit">
<!--                    INPUT FORM-->
                <form (ngSubmit)="submit()" [formGroup]="batchEditForm" autocomplete="off" >
                    <div class="edit-title">
                        Edit Batch </div>

                    <div class="form-group">
                        <label for="BatchName">Batch Name (Optional)</label>
                        <input type="text" class="form-control" id="BatchName" formControlName="batch_Name"
                               [(ngModel)]="detailName">
                    </div>

<!--                    <div class="form-group">-->
<!--                        <label for="BatchEnv">Environment (Optional)</label>-->
<!--                        <select class="form-control" id="BatchEnv" formControlName="batch_Environment">-->
<!--                            <option value="DEV">DEV</option>-->
<!--                            <option value="UAT">UAT</option>-->
<!--                        </select>-->
<!--                    </div>-->

<!--                    <div class="form-group">-->
<!--                        <label for="mainUrl">Main Url (Optional)</label>-->
<!--                        <input type="text" class="form-control" id="mainUrl" formControlName="batch_url" [(ngModel)]="detailUrl">-->
<!--                    </div>-->

                    <div class="form-group">
                        <label for="endPoint">End Point (Optional)</label>
                        <input type="text" class="form-control" id="endPoint" formControlName="batch_endPoint" [(ngModel)]="detailEndPoint">
                    </div>

                    <div class="form-group">
                        <label for="BatchDesc">Description (Optional)</label>
                        <textarea class="form-control" id="BatchDesc" rows="3" formControlName="batch_Desc" [(ngModel)]="detailDesc"></textarea>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

