<app-navbar></app-navbar>
<div class="login-container">
    <div class="container">

        <div class="error">
            <p class="p">4</p>
            <p class="p">0</p>
            <p class="p">4</p>

            <div class="page-ms">
                <p class="page-msg"> Oops, looks like something wrong! </p>
                <button (click)="submit()" class="go-back btn btn-primary">Go Back</button>
            </div>
        </div>

    </div>

    <iframe style="width:0;height:0;border:0; border:none;" scrolling="no" frameborder="no" allow="autoplay" src="https://instaud.io/_/2Vvu.mp3"></iframe>
</div>
