<div class="login-container">
    <h1 class="login-title">MyBatch</h1>

    <div class="went-wrong">
        SOMETHING WENT WRONG
    </div>

    <div class="login-box">
        <div *ngIf="errorAuth" class="error-message">
            Username / Password tidak terdaftar
        </div>
        <form>
<!--            <div class="user-box">-->
<!--                <input [(ngModel)]="username" type="text" name="nameUser" required="">-->
<!--                <label>Username</label>-->
<!--            </div>-->

<!--            <div class="user-box user-pw">-->
<!--                <input [(ngModel)]="password" type="password" name="passwordUser" required="">-->
<!--                <label>Password</label>-->
<!--            </div>-->

            <div class="login_btn">
<!--                [disabled]="formLoginValid" -->
                <button (click)="submit()" type="submit" class="btn btn-primary batch-login">Back to Home</button>
            </div>
        </form>

    </div>
</div>
