.login-container{
  margin: 40px 300px;
  padding: 20px 0px;
  background-color: white;
  border-radius: 5px;
  min-height: 450px;
  filter: drop-shadow(0px 6px 20px rgba(24, 66, 102, 0.15));
}

.error {
  width: 100%;
  height: auto;
  margin: 50px auto;
  text-align: center;
  margin-bottom: 0;
}

.error .p {
  height: 100%;
  color: #C0D7DD;
  font-size: 150px;
  margin: 50px;
  display: inline-block;
  font-family: 'Anton', sans-serif;
  font-family: 'Combo', cursive;
}

/* page-ms */
.page-ms {
  transform: translateY(-50px);
}

.error p.page-msg {
  text-align: center;
  color: #C0D7DD;
  font-size: 30px;
  font-family: 'Combo', cursive;
  margin-bottom: 20px;
}
