<app-navbar></app-navbar>

<div class="notes-box">
    <div style="display: flex; justify-content: space-between">
        <div>
            <p class="page-title">Transfer Notes</p>
        </div>

        <div>
            <div>
                <button class="btn btn-primary add-feature"
                        data-toggle="modal" data-target="#createNotes">Add Notes</button>
            </div>
        </div>
    </div>

    <div class="notes-list">
        <div class="service-loop">
            <div *ngIf="emptyNote" class="batch-history">
                Empty!
            </div>

            <mat-expansion-panel *ngFor="let cat of dataGroupResponse?.notes_per_category_list; index as i">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <div class="notes-feature">
                            {{cat.category_name}}
                            <span class="badge badge-primary badge-pill notes-notif">{{dataGroupResponse?.notes_per_category_list[i].list_notes.length}}</span>
                        </div>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div *ngFor="let data of dataGroupResponse?.notes_per_category_list[i]?.list_notes" class="notes-content">
                    <div>
                        <a href="{{data.hyperlink}}" target="_blank" class="">{{data.name}}</a>
                    </div>
                    <div>
                        <mat-icon data-toggle="modal" data-target="#deleteFeature"
                                  class="note-delete-icon" (click)="executeDeleteNote(data.notes_id)">delete</mat-icon>
                    </div>
                </div>
            </mat-expansion-panel>
        </div>
    </div>
</div>

<!-- Popup Create Notes-->
<div class="modal fade" id="createNotes" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
<!--                <app-batch-input></app-batch-input>-->
                <form (ngSubmit)="submit()" [formGroup]="formInputNote" autocomplete="off" >
                    <div class="form-group">
                        <label for="BatchName">Notes Name</label>
                        <input type="text" class="form-control" id="BatchName" formControlName="name">
                    </div>

                    <div class="form-group">
                        <label for="BatchName">Link to (include http or https)</label>
                        <input type="text" class="form-control" id="BatchLink" formControlName="hyperlink">
                    </div>

                    <div class="batch-fitur">
                        <label for="batchFitur">For Feature</label>
                        <select  class="form-control" id="batchFitur" formControlName="category_id">
                            <option *ngFor="let cat of dataCat" value='{{cat.category_id}}'>
                                {{cat.category_name}}</option>
                        </select>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
