
    <div class="batch-title">
        <div class="feature-container">
            <div class="service-feature">
                <button class="btn btn-light">
                    <h4 class="fit-title -batch">MyBatch!</h4>
                </button>
            </div>
            <div class="notes-feature">
                <button class="btn btn-light">
                    <h4 class="fit-title ">Notes</h4>
                </button>
            </div>
        </div>
        <div class="logout-feature">
            <button class="btn btn-light" (click)="logout()">
                <h4 class="fit-title logout-btn">Logout</h4>
            </button>
        </div>
    </div>

    <app-navbar></app-navbar>

<div class="batch-header">
    <app-date-time></app-date-time>
    <app-batch-services></app-batch-services>
</div>

<!--<div class="footer">-->
<!--    <div class="footer-line"></div>-->
<!--    @Copyright MyBatch 2022 - Jasper & Kelvin-->
<!--</div>-->

