.batch-header{
  margin: 30px 100px;
}

.batch-title{
  display: flex;
  justify-content: space-between;
}

.fit-title{
  font-size: 45px;
}

.-batch{
  font-style: italic;
  color: #0064b6;
}

.feature-container{
  display: flex;
}

.btn-light{
  background-color: transparent;
  border: none;
  box-shadow: transparent;
}

.btn-light:focus{
  color: #0064b6;
}

.logout-btn{
  font-size: 35px;
  color: red;
}

.footer-line{
  color: #ABABAB;
  border-top: 1px solid #ABABAB;
  margin: 200px 100px 20px;
}

.footer{
  color: #ABABAB;
  font-size: 20px;
  text-align: center;
}
