.batch-header{
  margin: 30px 100px;
}

.batch-title{
  display: flex;
  justify-content: space-between;
}

.fit-title{
  font-size: 45px;
}

.-batch{
  font-style: italic;
  color: #0064b6;
}

.feature-container{
  display: flex;
}

.btn-light{
  background-color: transparent;
  border: none;
  box-shadow: transparent;
}

.btn-light:focus{
  color: #0064b6;
}

.logout-btn{
  font-size: 35px;
  color: red;
}

.batch-subtitle{
  display: flex;
  margin: 15px 20px;
  justify-content: space-between;
}

.display-name{
  font-size: 35px;
}
.display-time{
  font-size: 20px;
}

.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #0064b6;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin-left: 75%;
  margin-top: 1%;
  z-index: -1;
  position: absolute;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}